/*-------- styling for analytics page --------*/
.content{
    width: 100%;
    position: relative;
    margin: auto;
    text-align: center;
    margin-top: 2%;
}

.content h1{
    font-size: 70px;
    font-family: 'Bebas Neue';
    letter-spacing: 8px;
}

.content p{
    width: 50%;
    font-size: 25px;
    margin: auto;
}

@media (max-width: 850px){

    .content h1{
        margin-top: 2%;
        font-family: 'Bebas Neue';
        font-size: 50px;
        letter-spacing: 6px;
    }

    .content p{
        font-size: 22px;
        width: 75%;
        margin: auto;
        margin-top: 2%;
    }
}