*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    /* list-style: none */
}

body{
    background-image: none;
}

.egg_heading h1, .pond_number h1{
    font-family: 'Bebas Neue';
    font-size: 55px;
    text-align: center;
    letter-spacing: 5px;
    margin-top: 1%;
    text-decoration: underline;
}

.data_summary {
    position: relative;
    margin-left: 3%;
    margin-top: 2%;
}

.data_summary h1{
    font-family: 'Bebas Neue';
    font-size: 45px;
    letter-spacing: 2px;
    text-align: left;
    text-decoration: underline;
    font-weight: 300;
}

.data_summary li{
    margin-top: 1%;
    font-size: 20px;
    margin-left: 10px;
}

/* .data_summary div{
    width: 250px;
    padding: 10px;
    background: white;
    border-radius: 20px;
    text-align: center;
} */

.graph{
    position: relative;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 2%;
}

.graph h1{
    object-position: center;
    font-family: 'Bebas Neue';
    letter-spacing: 2px;
    font-size: 45px;
    text-align: center;
    text-decoration: underline;
    font-weight: 300;
}

.graph img{
    margin: auto;
    margin-top: 2%;
    display: block;
    max-width: 90%;
}

@media(max-width: 850px){

    .pond_number h1, .tank_number h1 {
        font-size: 50px;
        margin-top: 2%;
    }

    .data_summary h1{
        font-size: 35px;
    }

    .data_summary li{
        font-size: 20px;
    }

    .graph h1{
        margin-top: 6%;
        font-size: 35px;
    }

    .graph img{
        margin: auto;
        margin-top: 2%;
        max-width: 90%;
    }
}