.forms{
    position: relative;
    width: 40%;
    border-radius: 5px;
    margin: 3% auto;
    padding: 3%;
    background-color: rgb(167, 167, 234, 0.4)
}

.forms h1{
    font-family: 'Bebas Neue';
    font-size: 45px;
    letter-spacing: 6px;
    margin: auto;
    text-align: center;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 2%;
    border: 1% solid rgb(64, 16, 78);
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 5%;
    resize: vertical;
    font-size: 15px;
}

input[type=submit]{
    background-color: rgba(213, 143, 236, 0.667);
    color: black;
    padding: 2% 5%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 2%;
}

input[type=submit]:hover{
    background-color: rgba(213, 143, 236);
}

label{
    font-size: 18px;
}

@media (max-width: 900px){
    .forms{
        margin-top: 10%;
        width: 75%;
    }
}