*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    list-style: none
}

body{
    background-color: rgb(202, 243, 243);
}

/*-------header styling-------*/
.container{
    width: auto;
    padding: 20px 0 10px 0px;
    background-color: rgb(79, 215, 215);    
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img{ 
    width: 120px;
    margin: -10% 0 5% 10%; 
}

.nav-links {
    display: flex;
    text-align: right;
    margin-top: 0px;
    font-size: 18px;
}

.nav-links ul li{
    display: inline-block;
    padding: 5px 40px;
    position: relative;
}

.nav-links ul li a{
    color: #2a216e;
    text-decoration: none;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
    transition: 0.3s ease;
}

nav .bi{
    display: none;
}

/*-------- styling for smaller devices --------*/

@media(max-width: 850px) {

    .nav-links ul li{
        display: block;
        margin-top: 15px;
    }

    .nav-links{
        display: block;
        position: absolute;
        background: #7ac8e0;
        height: 100%;
        top: 0;
        width:0%;
        padding-top: 60px;
        right: 0%;
        text-align: left;
        z-index: 2;
        transition: 1s;
        overflow-x: hidden;
    }

    nav .bi{
        display: flex;
        color: black;
        margin: 10px;
        margin-right: 5%;
        font-size: 22px;
        cursor: pointer;
    }

    .nav-links ul{
        padding: 10px;
    }

}

