{% extends 'base.html' %}

{% block head %}

<title>About Us</title>
<link rel="stylesheet" href="static/css/about.css">

{% endblock %}

{% block body %}

<section class="about">
  <h1>About</h1>
  <div class="row">
    <div class="objectives">
    <p id="center">This website was created by the SAIL lab at Florida Atlantic University's (FAU) Harbor Branch Oceanographic Insitute (HBOI). It serves as a centralized platform for displaying aquaculture data collected by the HAUCS system.</p>
    </div>
  </div>

  <div class="row">
    <div class="objectives">
        <h3>SMS Alert Notifications</h3>
          <p>In addition to viewing data displayed on this website, you can sign up for real-time alerts over SMS text messages. These messages are triggered when a pond is measured
            with a dissolved oxygen reading below 30% saturation. The same alert is repeated every 2 hours until the dissolved oxygen rises above 30%.
          </p>
          <h4>OPT-IN</h4>
          <p>To subscribe for SMS based alerts, please fill out the following <a href="/feedback">form</a> with your name and number you wish to subscribe to the alert system.
            By selecting the subscribe option on the form, you are consenting to receive automated alert messages as described above. Messaging data rates may apply.</p>
          <h4>OPT-OUT</h4>
          <p>You can revoke your consent and unsubscribe anytime from this alert system by filling out the same <a href="/feedback">form</a> and selecting unsubscribe. You may also unsubscribe by replying to the SMS
            messages with "STOP".</p>
    </div>
  <div class="row">

      <div class="objectives">
          <h3>Privacy Statement</h3>
            <p>This Privacy Policy outlines how we collect, use, disclose, and protect your information when you visit our Site.</p>
            <h4>Information We Collect</h4>
                <p>We may collect the following types of information:</p>
                <ul>
                    <li><b>Personal Information:</b> This includes your name, email, phone number, and any other information you provide when you subscribe to notifications or contact us.</li>
                    <li><b>Non-Personal Information:</b> This includes data that cannot be used to identify you, such as browser type, IP address, and pages visited.</li>
                    <li>Our site does not use cookies or similar tracking technologies.</li>
                </ul>
            <h4>How We Use Your Information</h4>
                <p>We use the information we collect for various purposes, including:</p>
                <ul>
                    <li>To provide, maintain, and improve our Site</li>
                    <li>To communicate with you, including sending notifications and updates</li>
                </ul>
            <h4>Sharing Your Information</h4>
                <p>We do not sell or rent your personal information to third parties.</p>
      </div>
  </div>
</section>

{% endblock %}