{% extends 'base.html' %}

{% block head %}

<title>About Us</title>

{% endblock %}

{% block body %}

<body class="about-body"></body>
<section class="about">
  <h1>About the Application</h1>

  <div class="row">
      <div class="objectives">
          <h3>Objective</h3>
          <p>The primary objective of this application is to provide a centralized platform that efficiently aggregates, organizes, and visualizes biomass data. By doing so, it aims to simplify the complex task of interpreting and understanding large volumes of biomass-related information. With its sleek design and powerful features, the application strives to empower users to make informed decisions and gain valuable insights from their biomass data.</p>
      </div>
      <div class="objectives">
          <h3>Key Features</h3>
          <ul>
              <li>Data Aggregation: Easily collect data from multiple biomass sensors in different formats and consolidate it into a unified representation.</li>
              <li>Interactive Dashboard: Customize and personalize a central dashboard to display relevant metrics and parameters for easy monitoring.</li>
              <li>Real-time Monitoring: Track live updates from biomass sensors, including biomass levels, temperature, and humidity.</li>
              <li>Data Visualization: Transform complex biomass data into visually appealing graphs and charts for better understanding.</li>
              <li>Analytics and Insights: Utilize advanced algorithms to extract meaningful patterns, outliers, and predictive trends from biomass data.</li>
              <li>User-Friendly Interface: Enjoy an intuitive and easy-to-use interface with logical navigation and contextual help.</li>
          </ul>
      </div>
  </div>
</section>

{% endblock %}