{% extends 'base.html' %}

{% block head %}

<title>Analytics</title>

{% endblock %}

{% block body %}
<body class="analytics-body"></body>
<div class="pond-picture"><img src="{{ url_for('static', filename='ponds_pic.png')}}"></div>

<section class="ponds">
    <h1>List of Ponds</h1>
    <p>Select a pond to see the corresponding data:</p>

    <select name="pond" >
        {% for j in ponds %}
          <option name="{{ j }}" SELECTED>{{ j }}  </option>
        {% endfor %}
    </select>
    
</section>
{% endblock %}