{% extends 'base.html' %}

{% block head %}

<title>Biomass Analytics</title>

  <script> 
    const geoFile_bms = JSON.parse({{ data|tojson }});
    const battVolt_bms = JSON.parse({{ battv|tojson}});
  </script>

  <base href=".">
  <title>Tanks Map</title>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

  <link rel="stylesheet" type="text/css" href="static/css/map_style.css" />
  <link rel="stylesheet" type="text/css" href="static/css/analytics.css" />
  <script src="{{ url_for('static', filename='js/biomass_script.js') }}"></script>

{% endblock %}

{% block body %}

<section class="content">
    <h1>Recirculating Aquaculture</h1>
    <p>Click on a tank to see the corresponding data:</p>
    
</section>

<div id="map_container">
  <div id="map"></div>
</div>

<div class="legend">
  <h3>Legend:</h3>
  <ul>
    <li>
      <div class="circle" style="background: green;"></div>
      Normal Battery Voltage 
    </li>
    <li>
      <div class="circle" style="background: yellow;"></div>
      Medium Battery Voltage 
    </li>
    <li>
      <div class="circle" style="background: red;"></div>
      Low Battery Voltage 
    </li>
    <li>
      <div class="circle" style="background: grey;"></div>
      No data available
    </li>
</div>
    
<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCQZZk_BUDTJwYN2TCsPwVJGLxkiMiSzPg&callback=initMap&v=weekly"
  defer
></script>

{% endblock %}