{% extends 'base.html' %}

{% block head %}

<title>Chart</title>
<link rel="stylesheet" href="static/css/sensors.css">

{% endblock %}

{% block body %}
<h1>Experimental Chart Pond {{pond_id}}</h1>
<div class="combobox-container"></div>
    <label for="timePeriod" class="combobox-label">Time Period:</label>
    <select id="timePeriod" class="styled-combobox" onchange="fetchAndDisplay()">
        <option value=72 selected> 3 Days</option>
        <option value=168> 7 Days</option>
        <option value=336>14 Days</option>
    </select>
</div>
<div class="chartContainer">
    <canvas id="doChart"></canvas>
</div>
<div class="chartContainer">
    <canvas id="temperatureChart"></canvas>
</div>
<p id="data"></p>



  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.2/chart.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/luxon@3.5.0/build/global/luxon.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@0.2.0"></script>
  
  <script>
    function convert_to_mgl(do_input, t, p, s){
        //do: dissolved oxygen in percent saturation
        //t: temperature in celcius
        //p: pressure in hPa
        //s: salinity in parts per thousand
    
        T = t + 273.15; //temperature in kelvin
        P = p * 9.869233e-4; //pressure in atm

        DO_baseline = Math.exp(-139.34411 + 1.575701e5/T - 6.642308e7/Math.pow(T, 2) + 1.2438e10/Math.pow(T, 3) - 8.621949e11/Math.pow(T, 4));

        Fs = Math.exp(-s * (0.017674 - 10.754/T + 2140.7/Math.pow(T, 2)));

        theta = 0.000975 - 1.426e-5 * t + 6.436e-8 * Math.pow(t, 2);
        u = Math.exp(11.8571 - 3840.7/T - 216961/Math.pow(T, 2));
        Fp = (P - u) * (1 - theta * P) / (1 - u) / (1 - theta);

        DO_corrected = DO_baseline * Fs * Fp;
        DO_mgl = do_input / 100 * DO_corrected;

        return DO_mgl;
    }

    function getStartTime(delta) {
        var start = new Date();
        start.setHours(start.getHours() - delta);
        let year = start.getUTCFullYear();
        let month = start.getUTCMonth() + 1;
        if (month < 10)
            month = "0" + month;
        let day = start.getUTCDate();
        if (day < 10)
            day = "0" + day;
        let hour = start.getUTCHours();
        if (hour < 10)
            hour = "0" + hour;
        let minute = start.getUTCMinutes();
        if (minute < 10)
            minute = "0" + minute;
        let startString = '' + year + month + day + '_' + hour + ':' + minute + ':00';
        return startString;
    };

    function prep_data(data) {
        for (var key in data){
            const do_mgl = convert_to_mgl(100 * data[key]['do'].at(-1)/data[key]['init_do'], data[key]['temp'].at(-1), data[key]['init_pressure'], 0);
            const temp_f = 32 + (data[key]['temp'].at(-1) * 9/5);
            data[key]['do_mgl'] = do_mgl;
            data[key]['temp_f'] = temp_f;
            data[key]['time_ms'] = luxon.DateTime.fromFormat(key, "yyyyMMdd_HH:mm:ss", {"zone":"UTC"});
        };
        // ret.push({'x':x.ts, 'y':do_data[i]});
        return data;
    };

    function generate_graph(myChart, data, id, ylabel){
        if (myChart){
            myChart.destroy();
        };

        let hourFormat = 'MM/dd hh:mm a';
        if (window.screen.width < 500 || window.screen.height < 500)
            hourFormat = 'hh a';

        myChart = new Chart(id, {
            type: 'scatter',
            data: data,
            options: {
                responsive:true,
                maintainAspectRatio:false,
                scales:{
                    x:{
                        type:'time',
                        time: {
                            unit: 'hour',
                            displayFormats: {
                            'hour': hourFormat
                            }
                        },
                        ticks:{
                            maxTicksLimit:10,
                        },
                        adapters:{
                            date: {
                                zone:"US/Central",
                            }
                        }
                    },
                    y:{
                      title:{
                        display:true,
                        text:ylabel,
                      }
                    },
                }
            },
        });
        return myChart;
    };

    async function fetchAndDisplay() {
        const start = getStartTime(document.getElementById('timePeriod').value);
        const end = getStartTime(0);
        const pondId = {{pond_id}};
        var res = await fetch('/dataTime/LH_Farm pond_' + pondId + ' ' + start + ' ' + end);
        var data = await res.json();
        data = await prep_data(data);
        //prepare do data
        var do_buoy = [];
        var do_truck = [];
        for (key in data){
            dp = {'x':data[key]['time_ms'].ts, 'y':data[key]['do_mgl']}
            if (data[key]['type'] == "buoy"){
                do_buoy.push(dp);
            }
            else if (data[key]['type'] == "truck"){
                do_truck.push(dp);
            }
        }
        //prepare temp _data
        var temp_buoy = [];
        var temp_truck = [];
        for (key in data){
            dp = {'x':data[key]['time_ms'].ts, 'y':data[key]['temp_f']}
            if (data[key]['type'] == "buoy"){
                temp_buoy.push(dp);
            }
            else if (data[key]['type'] == "truck"){
                temp_truck.push(dp);
            }
        }

        const data1 = {
            datasets: [
                {
                type: 'scatter',
                borderColor: 'rgba(255, 99, 132, 1)',
                backgroundColor: 'rgba(255, 99, 132, 0.5)',
                data: do_buoy,
                label:"buoy"
                },
                {
                type: 'scatter',
                borderColor: 'rgba(1, 120, 255, 1)',
                backgroundColor: 'rgba(1, 120, 255, 0.5)',
                data: do_truck,
                label:"truck"
                }
            ],
        };
        const data2 = {
            datasets: [
                {
                type: 'scatter',
                borderColor: 'rgba(255, 99, 132, 1)',
                backgroundColor: 'rgba(255, 99, 132, 0.5)',
                data: temp_buoy,
                label:"buoy"
                },
                {
                type: 'scatter',
                borderColor: 'rgba(1, 120, 255, 1)',
                backgroundColor: 'rgba(1, 120, 255, 0.5)',
                data: temp_truck,
                label:"truck"
                }
            ],
        };
        doChart = generate_graph(doChart, data1, 'doChart', 'DO (mg/l)');
        temperatureChart = generate_graph(temperatureChart, data2, 'temperatureChart', 'Temperature (F)');
    }

    let doChart = new Chart('doChart');
    let temperatureChart = new Chart('temperatureChart');
    fetchAndDisplay();

    var w = window.innerWidth;
    var h = window.innerHeight;
    var x = document.getElementById("data");
    x.innerHTML = "Browser width: " + w + ", height: " + h + ".";
  </script>

{% endblock %}