{% extends 'base.html' %}

{% block head %}

<title>Drone</title>
<meta http-equiv="refresh" content="2">
<link rel="stylesheet" href="static/css/sensors.css">

{% endblock %}

{% block body %}

<body class="sensor-body">
  <h1>WEB BASED GCS</h1>
  <ul>
        <h2>Flight Information</h2>
        <li>mode: {{ data['data'].flight_mode }}</li>
        <li>status:  {{ data['data'].flight_status }}</li>
        <li>on water: {{ data['data'].on_water }}</li>
        <br>
        <h2>Position Information</h2>
        <li>velocity: {{ data['data'].vel }} m/s</li>
        <li>altitude: {{ data['data'].alt }} m</li>
        <li>latitude: {{ data['data'].lat }}</li>
        <li>longitude: {{ data['data'].lon }}</li>
        <li>heading: {{ data['data'].hdg }} deg</li>
        <li>last update: {{ data['time'].GLOBAL_POSITION_INT }} s</li>
        <br>
        <h2>Vehicle Health</h2>
        <li>battery voltage: {{ data['data'].voltage }}</li>
        <li>battery current: {{ data['data'].current }}</li>
        <li>last update: {{ data['time'].BATTERY_STATUS }} s</li>
        <br>
        <h2>Payload</h2>
        <li>DO: {{ data['data'].p_DO }} mV</li>
        <li>pressure: {{ data['data'].p_pres }} hPa</li>
        <li>temperature: {{ data['data'].p_temp }} c</li>
        <li>last update: {{ data['time'].NAMED_VALUE_FLOAT }} s</li>
        
  </ul>
</body>

{% endblock %}