{%extends 'base.html'%}

{%block head%}

<title>Feedback Page</title>
<link rel="stylesheet" href="static/css/feedback.css">
<!-- <script src="{{ url_for('static', filename='js/feedback.js') }}"></script> -->
<style type="text/css">
    .d-none {
        display: none;
    }

</style>
{%endblock%}

{%block body%}
<div class="forms">
        <!-- <label for="options">Choose an option:</label> -->
        <h1>Choose an option:</h1>
        <select name="options" id="options" onchange="enablePonds(this)">
            <option value="do">Manual DO input</option>
            <option value="feedback">Feedback</option>
            <option value="alerts" selected>Real Time Alerts</option>
        </select>

        <form id="ponds" class="d-none" method="POST">
            <label for="pond_num">Pond Number</label>
            <input 
                type="text" 
                id="pond" 
                name="pond" 
                placeholder="The pond number is...">
            
            <label for="do_level">Collected DO level</label>    
            <input
                type="text"
                id="do"
                name="do"
                placeholder="percent saturation" >  
                
            <input type="submit" value="Submit">
        </form>

        <form id="feedback" class="d-none" method="POST">
            <label for="comment">Comment</label>
            <textarea
                id="comment"
                name="comment"
                placeholder="what's broken now..."
                style="height:6%"></textarea>  
            <input type="submit" value="Submit"> 
        </form>

        <form id="alerts" class="d-none" method="POST">
            <label for="f_name">First Name</label>
            <input 
                type="text" 
                id="f_name" 
                name="f_name">
            <label for="l_name">Last Name</label>
            <input 
                type="text" 
                id="l_name" 
                name="l_name">
            <label for="number">Phone Number</label>
            <input 
                type="text" 
                id="number" 
                name="number">
            <label for="subscribe">Subscribe/Unsubscribe</label>    
            <select name="consent" id="consent">
                <option value="subscribe">subscribe</option>
                <option value="unsubscribe" selected>unsubscribe</option>
            </select>
            <p>
                By selecting subscribe, you are agreeing to receive automated SMS alerts from us. Messaging data rates may apply. You
                may stop at anytime by filling out the same form and selecting unsubscribe or by replying to any messages with "STOP".
            </p>
            <input type="submit" value="Submit">
        </form>

</div>

<script type="text/javascript">
    document.getElementById('alerts').classList.remove('d-none');
    function enablePonds(answer) {
        if (answer.value == "do"){
            document.getElementById('ponds').classList.remove('d-none');
            document.getElementById('feedback').classList.add('d-none');
            document.getElementById('alerts').classList.add('d-none');
        }
        else if (answer.value == "feedback"){
            document.getElementById('feedback').classList.remove('d-none');
            document.getElementById('ponds').classList.add('d-none');
            document.getElementById('alerts').classList.add('d-none');
        }
        else if (answer.value == "alerts"){
            document.getElementById('alerts').classList.remove('d-none');
            document.getElementById('ponds').classList.add('d-none');
            document.getElementById('feedback').classList.add('d-none');
        }
    }
</script>


{%endblock%}