{% extends 'base.html' %}

{% block head %}

{% if pond_id %}
    <title>Pond {{ pond_id }}</title>
{% else %}
    <title>Invalid Pond</title>
{% endif %}

<link rel="stylesheet" href="static/css/sensors.css">

{% endblock %}

{% block body %}

<body class="sensor-body">

    <div class="pond_number">
        <h1>Pond {{pond_id}}</h1>
    </div>

    <div class="data_summary">
        <h1>Data Summary</h1>
        <div>
            <li> Dissolved Oxygen: {{last_do}}% </li>
        </div>
        <li>Last time of data collection: {{last_time}} on {{last_date}}</li>
        <li>Water temperature: {{last_temp}} °F</li>
        
    </div>

    <div class = "graph">
        <h1>Temperature and DO<br>Collected over the last 24 hours</h1>
        <img src="{{ url_for('static', filename='graphs/haucs/' + pond_id|string + '_temp_do_graph.png')}}">
    </div>

</body>

{% endblock %}