{% extends 'base.html' %}

{% block head %}

<title>HAUCS Analytics</title>

  <script> 
    const geoFile_HAUCS = JSON.parse({{ data|tojson }});
    const battVolt_HAUCS = JSON.parse({{ battv|tojson}});
  </script>

  <base href=".">
  <title>HAUCS Map</title>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

  <link rel="stylesheet" type="text/css" href="static/css/map_style.css" />
  <link rel="stylesheet" type="text/css" href="static/css/analytics.css" />
  <script src="{{ url_for('static', filename='js/HAUCS_script.js') }}"></script>

{% endblock %}

{% block body %}

<section class="content">
    <h1>Map of Ponds</h1>
    <p>Click on a pond to see the corresponding data:</p>
    
</section>

<div id="map_container">
  <div id="map"></div>
</div>
    
<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCQZZk_BUDTJwYN2TCsPwVJGLxkiMiSzPg&callback=initMap&v=beta&libraries=marker"
  defer
></script>

{% endblock %}