{% extends 'base.html' %}

{% block head %}

<title>History Sensors</title>

<link rel="stylesheet" href="static/css/history.css">
<script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/min/moment.min.js"></script>
<script src="{{ url_for('static', filename='js/history.js') }}"></script>
<script src="{{ url_for('static', filename='js/helper.js') }}"></script>
{% endblock %}

{% block body %}

<body class="sensor-body">
    <div class="data_summary">
        <h1>History</h1>
    </div>
    <br>
    
    <div class="combobox-container">
        <label for="pondSelector" class="combobox-label">Pond: </label>
        <select id="pondSelector" class="styled-combobox" onchange="fetchAndDisplayData()">
            <!-- Options will be dynamically added here -->
        </select>
        &nbsp;
        <label for="timePeriod" class="combobox-label">Time Period:</label>
        <select id="timePeriod" class="styled-combobox" onchange="fetchAndDisplayData()">
            <option value=12 selected>12 Hours</option>
            <option value=24> 1 Day</option>
            <option value=72> 3 Days</option>
            <option value=168>  7 Days</option>
            <option value=720>30 Days</option>
        </select>
    </div>

    <div class="pagination-controls">
        <button onclick="previousPage()" id="prevBtn" disabled>Previous</button>
        <span id="pageInfo"></span>
        <button onclick="nextPage()" id="nextBtn">Next</button>
    </div>

    <div class="data-table-container">
        <table id="data-table" class="data-table">
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Pond</th>
                    <th>DO (mg/l)</th>
                    <th>DO (%)</th>
                    <th>Temp (°F)</th>
                    <th>Depth (in)</th>
                    <th>Type</th>
                    <th>ID</th>
                </tr>
            </thead>
            <tbody id="data-table-body">
                <!-- Dynamic rows will be inserted here -->
            </tbody>
        </table>
    </div>

    <script>
        const jsonData = JSON.parse({{ data|tojson }});
        let currentPage = 1;
        const rowsPerPage = 40;
        let paginatedData = [];
    
        function fetchAndDisplayData() {
            const pondSelector = document.getElementById('pondSelector');
            const selectedPondId = pondSelector.value;
            //SET TIMESPAN
            const timePeriod = document.getElementById('timePeriod').value;
            let start = get_start_time(timePeriod);
            let end = get_start_time(0);
            const fetchPromises = jsonData.features.map(feature => {
                const pondId = feature.properties.number;
                if (feature.properties.number == ('bathymetry')){
                    return fetch('/dataTime/LH_Farm bathymetry' + ' ' + start + ' ' + end)
                    .then(response => response.json());
                }
                else if (feature.properties.number == 'gps'){
                    return fetch('/dataTime/LH_Farm gps' + ' ' + start + ' ' + end)
                    .then(response => response.json());
                }
                else {
                    return fetch('/dataTime/LH_Farm pond_' + pondId + ' ' + start + ' ' + end)
                        .then(response => response.json());
                }
            });

            Promise.all(fetchPromises)
                .then(jsonDatas => {
                    const data = transformData(jsonDatas, selectedPondId);
                    paginatedData = data; // Store the transformed data in paginatedData
                    currentPage = 1; // Reset to the first page
                    displayPage(currentPage); // Display the first page
                })
                .catch(error => {
                    console.error('Error fetching data:', error);
                });
        }
        // Initialize the combobox and fetch datax
        initializeCombobox(jsonData, "all");
        fetchAndDisplayData();
        setInterval(fetchAndDisplayData, 80000);
        </script>
</body>

{% endblock %}