{% extends 'base.html' %}

{% block head %}

<title>Biomass Data Visualization Platform</title>
<link rel="stylesheet" href="static/css/home.css">

{% endblock %}

{% block body %}

<div class="title">
  <h1>Aquaculture Data<br>Visualization Platform</h1>
  <p>Live data available for HAUCS and IMTA systems.</p>
  <div class="images">
    <a href="/HAUCS"><img src="static/images/aquaculture_pond.jpg"></a>
    <a href="/biomass"><img src="static/images/aquaculture_tank.jpg"></a>
    
  </div>
</div>




{% endblock %}