{% extends 'base.html' %}

{% block head %}

<title>Biomass Data Visualization Platform</title>
<link rel="stylesheet" href="static/css/home.css">

{% endblock %}

{% block body %}

<div class="title">
  <h1>Aquaculture Data<br>Visualization Platform</h1>
  <p>This application is meticulously engineered to streamline the presentation and analysis of biomass and DO data collected from various sensors. Whether you're a scientist, researcher, or a biomass industry professional, it offers an intuitive and user-friendly interface to simplify the display of all your data.</p>

  <div class="images">
    <a href="/biomass"><img src="static/images/aquaculture_tank.jpg"></a>
    <a href="/HAUCS"><img src="static/images/aquaculture_pond.jpg"></a>
  </div>
</div>




{% endblock %}