{% extends 'base.html' %}

{% block head %}

<title>Biomass Data Visualization Platform</title>
<link rel="stylesheet" href="static/css/home.css">

{% endblock %}

{% block body %}

<div class="title">
  <h1>Aquaculture Data<br>Visualization Platform</h1>
  <p>Live data available for HAUCS and IMTA systems.</p>
  <div class="images">
    <a href="/HAUCS"><img src="static/images/aquaculture_pond.jpg"></a>
    <a href="/biomass"><img src="static/images/aquaculture_tank.jpg"></a>
  </div>
  <p>
    If you want to try out our new text message based notification system please reach out to Will. 
    This system will provide hourly notifications when a buoy detects low levels of dissolved oxygen in a pond.
    You can be added or removed from the system at any time. 
  </p>
</div>




{% endblock %}