{% extends 'base.html' %}

{% block head %}
<style>       
    body {
      font-family: Arial;
      margin: 0;
    }
    
    .header {
      padding: 60px;
      text-align: center;
      background: #1abc9c;
      color: white;
      font-size: 30px;
    }
    
    .content {padding:20px;}
</style>
{% endblock %}

{% block body %}
<div class="header">
    <h1>Biomass Data</h1>
    <p>Graphic User Interface for display of biomass data</p>
  </div>
  
  <div class="content">
    <h1>Introduction</h1>
    <p>In this interface, the biomass data collected from the IMTA systems will be provided in a easy to navigate web page</p>
  </div>
{% endblock %}