{% extends 'base.html' %}

{% block head %}

    <!-- <h1>{{ data }}</h1> -->

    <script> 
      const geoFile = JSON.parse({{ data|tojson  }});
      const test = '{"coffee":"espresso"}'
      const testFile = JSON.parse(test)
      // console.log(geoFile.coffee);
      console.log(testFile.coffee);
    </script>

    <base href=".">
    <title>Tanks Map</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

    <link rel="stylesheet" type="text/css" href="static/css/map_style.css" />
    <script src="{{ url_for('static', filename='js/map_script.js') }}"></script>

{% endblock %}

{% block body %}
<div id="map_container">
  <div id="map"></div>
</div>
    
<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCQZZk_BUDTJwYN2TCsPwVJGLxkiMiSzPg&callback=initMap&v=weekly"
  defer
></script>
{% endblock %}