{% extends 'base.html' %}

{% block head %}
<title>Tanks Map</title>
<link rel="stylesheet" type="text/css" href="static/css/style.css" />
<!--<script type="module/javascript" src="index.js"></script>-->
{% endblock %}

{% block body %}
<div class = "maps">
    <div id="map"></div>

    <script>
        function initMap() {
            var options = {
            zoom: 20,
            center: { lat: 27.529306, lng: -80.351272 },};
            var map = new google.maps.Map(document.getElementById('map'), options);
        }
    </script>
   
    <script 
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCQZZk_BUDTJwYN2TCsPwVJGLxkiMiSzPg&callback=initMap">
    defer
    </script>
</div>
    
{% endblock %}