{% extends 'base.html' %}

{% block head %}

{% if sensor_id %}
    <title>Sensor {{ sensor_id }}</title>
{% else %}
    <title>Invalid Sensor</title>
{% endif %}

<link rel="stylesheet" href="static/css/sensors.css">

{% endblock %}

{% block body %}
<body class="sensor-body">

    <div class = "graph">
        <h1>Differential Graph of Data Collected over the last 6 Days</h1>
        <img src="{{ url_for('static', filename=sensor_id|string + '_timeseries.png')}}">
    </div>

</body>




 

{% endblock %}