{% extends 'base.html' %}


{% block head %}

<title>Weather</title>

<link rel="stylesheet" href="static/css/weather.css">

{% endblock %}

{% block body %}

<body class="sensor-body">
  <div class="chart-container">
    <table class="table">
        <tbody>
        <th scope="rowgroup" colspan="2"><h2>Local Weather Station</h2></th>
        <tr>
            <td>last sample</td>
            <td><span id="lastDate"></span></td>
        </tr>
        <tr>
            <td>air temperature</td>
            <td><span id="lastTemp"></span> &#8457</td>
        </tr>
        <tr>
            <td>wind direction</td>
            <td><span id="lastWindDir"></span> &deg</td>
        </tr>
        <tr>
          <td>wind speed</td>
          <td><span id="lastWindSpd"></span> m/s</td>
        </tr>
        <tr>
          <td><label for="dataType">feature</label></td>
          <td>
            <select id="dataType" onchange="update_feature()">
              <option value="temp" selected>temperature</option>
              <option value="baro">pressure</option>
              <option value="rh">humidity</option>
              <option value="wind_spd">wind speed</option>
              <option value="wind_dir">wind direction</option>
              <option value="solar">solar radiation</option>
              <option value="rain">rain</option>
              <option value="water_lvl">water level</option>
            </select>
          </td>
        </tr>
        <tr>
            <td><label for="starDate" class="combobox-label">start date</label></td>
            <td><input type="datetime-local" id="startDate" name="start" onchange="update_chart()"></td> 
        </tr>
        <tr>
            <td><label for="endDate" class="combobox-label">end date</label></td>
            <td><input type="datetime-local" id="endDate" name="end" onchange="update_chart()"></td>
        </tr>
        </tbody>
    </table>
  </div>
  <div class="chartContainer">
    <canvas id="graph1"></canvas>
  </div>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.2/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/luxon@3.5.0/build/global/luxon.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@0.2.0"></script>
<script src="{{ url_for('static', filename='js/helper.js') }}"></script>
<script>
  async function update_weather(){
    let startDate = luxon.DateTime.now().minus(1000 * 600);
    let endDate = luxon.DateTime.now();
    endDate = endDate.toMillis();
    startDate = startDate.toMillis();
    var res = await fetch('https://api.sensestream.org/observations/measurements/' + '{{sensor}}' + '/0?start=' 
    +startDate + '&end=' + endDate);
    var data = await res.json();
    var idx = data.result.length - 1;
    if (idx >= 0){
      let temp = Math.round(32 + (9 / 5 * data.result[idx].readings[7]));
      let wind_spd = data.result[idx].readings[3];
      let wind_dir = data.result[idx].readings[2];
      document.getElementById('lastWindDir').textContent = wind_dir;
      document.getElementById('lastWindSpd').textContent = wind_spd;
      document.getElementById('lastTemp').textContent = temp;
      let lastDate = luxon.DateTime.fromMillis(data.result[idx].time)
      lastDate = lastDate.setZone("US/Eastern");
      document.getElementById('lastDate').textContent=lastDate.toFormat("MM/dd hh:mm a ZZZZ");
    }
  }
  async function get_water_level(gData){
    let startDate = luxon.DateTime.fromISO(document.getElementById('startDate').value, {"zone":"US/Eastern"});
    let endDate = luxon.DateTime.fromISO(document.getElementById('endDate').value, {"zone":"US/Eastern"});
    endDate = endDate.toMillis();
    startDate = startDate.toMillis();
    var res = await fetch('https://api.sensestream.org/observations/measurements/' + 'hboi_2' + '/port0?start=' 
    +startDate + '&end=' + endDate);
    var data = await res.json();
    let water_level = {'label':'water level (m)', 'data':[], 'time':{'label':'time', 'data':[]}};
    for (let i = 0; i < data.result.length; i++){
      water_level['time']['data'].push(data.result[i].time);
      water_level['data'].push(data.result[i].readings[0]);
    }
    gData['water_lvl'] = water_level;
    return gData;
  }

  async function get_data(){
    let startDate = luxon.DateTime.fromISO(document.getElementById('startDate').value, {"zone":"US/Eastern"});
    let endDate = luxon.DateTime.fromISO(document.getElementById('endDate').value, {"zone":"US/Eastern"});
    endDate = endDate.toMillis();
    startDate = startDate.toMillis();
    var res = await fetch('https://api.sensestream.org/observations/measurements/' + '{{sensor}}' + '/0?start=' 
    +startDate + '&end=' + endDate);
    var data = await res.json();
    let ret = {'time': {'label':'time','data':[]},
                'temp':{'label':'temperature \u2109', 'data':[]},
                'wind_dir':{'label':'wind direction (deg)', 'data':[]},
                'wind_spd':{'label':'wind speed (m/s)', 'data':[]},
                'rain':{'label':'rain intensity (mm/h)', 'data':[]},
                'solar':{'label':'solar radiation (W/m^2)', 'data':[]},
                'baro':{'label':'barometric pressure (hPa)', 'data':[]},
                'rh':{'label':'relative humidity (%)', 'data':[]},
              };
    for (let i = 0; i < data.result.length; i++){
      ret['time']['data'].push(data.result[i].time);
      ret['temp']['data'].push(32 + (9 / 5 * data.result[i].readings[5]));
      ret['wind_dir']['data'].push(data.result[i].readings[2]);
      ret['wind_spd']['data'].push(data.result[i].readings[3]);
      ret['rain']['data'].push(data.result[i].readings[17]);
      ret['solar']['data'].push(data.result[i].readings[20]);
      ret['baro']['data'].push(data.result[i].readings[8]);
      ret['rh']['data'].push(data.result[i].readings[6]);
    }
    return ret;
  }

  function generate_graph(myChart, id, x_data, y_data){
    if (myChart){
      myChart.destroy();
    };
    let hourFormat = 'MM/dd hh:mm a';
    if (window.screen.width < 500 || window.screen.height < 500)
        hourFormat = 'hh a';

    const data = {
        labels: x_data['data'],
        datasets: [
            {
            borderColor: 'rgba(255, 99, 132, 1)',
            backgroundColor: 'rgba(255, 99, 132, 0.5)',
            data: y_data['data'],
            label: y_data['label'],
            tension: 0.2,
            },
        ],
    };
    myChart = new Chart(id, {
        type: 'line',
        data: data,
        options: {
            responsive:true,
            maintainAspectRatio:false,
            scales:{
                x:{
                    type:'time',
                    time: {
                        unit: 'hour',
                        displayFormats: {
                        'hour': hourFormat
                        }
                    },
                    ticks:{
                        maxTicksLimit:10,
                    },
                    adapters:{
                        date: {
                            zone:"US/Eastern",
                        }
                    }
                },
                y:{
                  title:{
                    display:true,
                    text:y_data['label'],
                  }
                },
            },
            interaction: {
              mode: 'nearest',
              axis: 'x',
              intersect: false,
            },
            elements: {
              point: {
                pointRadius: 1,
                pointHoverRadius: 7,
              }
            },
          },
          plugins: [{
            afterDraw: chart => {
              if (chart.tooltip?._active?.length) {
                let x = chart.tooltip._active[0].element.x;
                let yAxis = chart.scales.y;
                let ctx = chart.ctx;
                ctx.save();
                ctx.beginPath();
                ctx.moveTo(x, yAxis.top);
                ctx.lineTo(x, yAxis.bottom);
                ctx.lineWidth = 2;
                ctx.strokeStyle = 'rgba(100, 100, 100, 0.4)';
                ctx.stroke();
                ctx.restore();
              }
            }
          }],
    });
    return myChart;
    };

  async function update_chart(){
    const dataType = await document.getElementById('dataType').value;
    globalData = await get_data();
    globalData = await get_water_level(globalData);
    if ("time" in globalData[dataType]){
      graph1 = generate_graph(graph1, 'graph1', globalData[dataType]['time'], globalData[dataType]);
    }
    else{
      graph1 = generate_graph(graph1, 'graph1', globalData['time'], globalData[dataType]);
    }
  }

  function update_feature(){
    const dataType = document.getElementById('dataType').value;
    if ("time" in globalData[dataType]){
      graph1 = generate_graph(graph1, 'graph1', globalData[dataType]['time'], globalData[dataType]);
    }
    else{
      graph1 = generate_graph(graph1, 'graph1', globalData['time'], globalData[dataType]);
    }
  }

  document.getElementById('endDate').value= luxon.DateTime.now().toFormat("yyyy-MM-dd'T'HH:mm", {'zone':'US/Eastern'});
  document.getElementById('startDate').value= (luxon.DateTime.now().minus(1000 * 60 * 60 * 24 * {{ts}})).toFormat("yyyy-MM-dd'T'HH:mm", {'zone':'US/Eastern'});
  update_weather();
  let globalData = {};
  let graph1 = new Chart('graph1');
  update_chart();
</script>

{% endblock %}

